*{
    margin:0;
    padding:0;
    font-family: 'Reenie Beanie', cursive;
  }
 
.fondo{
    background-image: url(https://www.pikpng.com/pngl/b/345-3450625_nota-de-papel-png-self-appreciation-clipart.png);
    background-repeat:no-repeat;
    height: 600px;
    width: 900px;
    margin: 10px 100px 10px 200px;
}  

.box{
    text-align: center;
    font-size:300%;
    margin: -30px 0px 0px 160px;
    background-color: transparent;
    color:rgb(0, 0, 0);
    border: 0px;
    
}

h1{
    padding-top: 70px;
    font-size:500%;
    font-weight:bold;
    margin: 10px 100px 10px 220px;
  }

.tareas{
  font-size:300%;
  margin-left: 270px;
}

.borrar{
  font-size: 20px;
  margin-left:100px ;
}